.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.not-found-page h2 {
  color: #333;
  font-size: 2em;
}

.not-found-page a {
  color: #007bff;
  text-decoration: none;
  margin-top: 1em;
}
